* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer_section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(32, 30, 30);
    color: white;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    line-height: 2rem;
}

h2 {
    /* border-bottom: 4px solid orangered; */
    margin-bottom: 1rem;
    position: relative;

}

.footer_section h2::after {
    content: '';
    width: 4rem;
    height: .3rem;
    background: #e65b00;
    position: absolute;
    top: 2rem;
    left: 0;
}

.footer_section p {
    transition: all .2s linear;
    margin-bottom: .6rem;
}

.footer_section p:hover {
    transition: all .2s linear;
    transform: translateX(4px);

}

.footer_section a:hover {
    color: #f46d13;
}

.footer_item {
    margin: 1rem;
}

.footer_item ul {
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}

.footer_item li {
    margin-right: 1.5rem;
    margin-top: 10px;
}

.social ul li {
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #e65b00;
    transform: scale(1.1);
    transition: all .2s linear;
}