* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(228, 228, 54, 0.788);
}

#outside {
    background-color: white;
    margin-top: 80px;
    padding-bottom: 3rem;
    margin-bottom: 80px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 20px;

}

.title {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.para1 {
    font-size: 25px;
    padding-left: 20px;
}

.first {
    margin: 30px 30px;
}

.lege1 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 30px;
}

.div1 {
    margin-left: 15px;
}

#name-label {
    margin-bottom: 10px;
}

#address {
    margin-bottom: 10px;
}

#email {
    margin-bottom: 10px;
}

#number {
    margin-bottom: 10px;
}

#iq {
    margin-bottom: 10px;
}

#right {
    margin-bottom: 30px;
}

.second {
    margin: 30px 30px;
}

.div2 {
    margin: 20px 15px;
}

#check {
    font-size: 20px;
    font-weight: 600;
}

.third {
    margin: 30px 30px;
}

.div3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.div4 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.fourth {
    margin: 30px;
}

.lege2 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 30px;
    margin-bottom: 10px;
}

#mesg {
    margin-left: 20px;

}

.para2 {
    margin-left: 20px;
    font-size: 20px;
}

.para3 {
    margin-left: 20px;
    font-size: 20px;
}

#contact {
    margin-left: 20px;
}

.para4 {
    margin-left: 20px;
    font-size: 25px;
}

#submit {
    margin-bottom: 20px;
    background-color: red;
    /* color: #ffffff; */
    color: white;
    font-weight: bold;
    margin-left: 360px;
    font-size: 30px;
}

button {
    text-transform: capitalize;
    border: none;
    border-radius: 2px;

}

#button3 {
    background-color: red;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    border-radius: 2px;
}